#map {
  height: 40%;
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}